.signup-input {
  display: inline-block;
  font-size: 16px;
  padding: 6px 8px;
  border: 1px solid #bdc7d8;
  -webkit-border-radius: 5px;
  color:#333;
  margin-bottom:10px;
}

.large-in {
  width: 377px;
}

.small-in {
  width: 172px;
}

.radio-btn {
  width: 12px;
  height: 12px;
}

.radio-txt {
  font-size: 18px;
}

.tnc {
  font-size: 11px;
  color: #777;
  width:316px;
  margin: 11px 0 11px ;
}
