<div class="content">
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-6 my-4">
        <h4 class="fb-msg">Facebook helps you connect and share with the people in your life.</h4>
        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/GwFs3_KxNjS.png" alt="">
      </div>
      <div class="col-sm-6">
        <h2>Create an account</h2>
        <h5>It's free and always will be</h5>
        <app-signup-form></app-signup-form>
      </div>
    </div>
  </div>
</div>
