<div class="">
  <form class="" action="" method="">
    <div class="row">
      <div class="col-sm-5 px-2 text-light login-label">
        Email
      </div>
      <div class="col-sm-5 px-2 text-light login-label">
        Password
      </div>
      <div class="col-sm-2 px-2">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 px-2">
        <input type="text" name="email" class="login-input" autocomplete="off">
      </div>
      <div class="col-sm-5 px-2">
        <input type="password" name="password" class="login-input">
      </div>
      <div class="col-sm-2 px-2">
        <app-submit-btn [btn]=loginBtn></app-submit-btn>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
      </div>
      <div class="col-sm-5 forget-btn px-2">
        Forgotten account?
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </form>
</div>
