.login-input {
  margin: 0;
  width: 142px;
  font-size: 12px;
  border: 1pt solid #000000;
}

.forget-btn {
  color:#9daccb;
  font-size:12px;
  cursor:pointer;
}

.login-label {
  font-size: 12px;
}
